/* .dashboard-menu {
  margin-top: 20px;
}

.menu-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #007bff;
  font-weight: bold;
}

.list-group-item {
  font-size: 1rem;
  transition: background 0.3s ease;
}

.list-group-item:hover {
  background-color: #f0f8ff;
  color: #000;
}

.list-group-item.active {
  background-color:aqua;
  color: #fff !important;
  border-color: #007bff;
} */
